{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>КиберАгенты ИБ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'app/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'app/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'app/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'app/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'app/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Author: BootstrapMade.com edit*
  * License: https://bootstrapmade.com/license/ edit*
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="{% static 'app/assets/img/hero-logo.png' %}" alt=""></a>
      <h1 data-aos="zoom-in">КиберАгенты ИБ</h1>
	  <h2 data-aos="fade-up">Кто владеет информацией, тот владеет миром</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Дальше</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="{% static 'app/assets/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Главная</a></li>
          <li><a class="nav-link scrollto" href="#about">О нас</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Достижения</a></li>
          <li><a class="nav-link scrollto" href="#team">Руководители</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>О нас</h2>
          <p>Дружный коллектив занимающийся добрыми делами</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="{% static 'app/assets/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <br/><br/><br/><br/><br/><br/>
				<h4>Мы волонтёры Севастопольского Государственного Университета, у нас самый дружелюбный коллектив разных возрастов, интересов и точек зрения. У нас нет иерархии, каждый занят своим делом, важные решения мы принимаем все вместе, как семья и конечно же помогаем друг другу в тяжёлую минуту по любому вопросу, ведь лучше думается в команде, чем в одиночку.</h4>
              <p class="fst-italic">
				  <em>
				  	<h5>Чем мы занимаемся:</h5></em>
              </p>
              <ul>
				  <li><i class="bx bx-check-double"></i> Находим и блокируем экстремисткий материал в сети интернет</li>
				  <li><i class="bx bx-check-double"></i> Ездим по школам и рассказываем юным ученикам о безопасном интернете и как защитить себя от вербовки</li>
                <li><i class="bx bx-check-double"></i> Участвуем в различных конкурсах и проектах</li>
				<li><i class="bx bx-check-double"></i> В свободное время ездим в различные поездки и отлично проводим время</li>
              </ul>
              <p>
                
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
			<h2>Достижения</h2>
          <p>Мы упорно трудимся для достижения целей и это у нас отлично получается!</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
           
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'app/assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>"Добро онлайн"</p>
                <div class="portfolio-links">
                  <a href="{% static 'app/assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Форум посвященный безопасности в сети интернет. На этом форуме мы не просто были участниками, но и смогли прочитать лекцию о блокировках экстремисткого материала"><i class="bx bx-plus"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'app/assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>"СЕЛИАС 2021"</p>
                <div class="portfolio-links">
                  <a href="{% static 'app/assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Молодежный проектный форум в котором мы участвовали и продвигали проект 'Я в сети'. Наш проект был направлен на обучение школьников безопастному интернету."><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'app/assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>"Твой ход"</p>
                <div class="portfolio-links">
                  <a href="{% static 'app/assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Всеросийский молодежный конкурс. В этом конкурсе наши ребята выйграли 2,5 миллиона рублей для продвижения нашей организации. Также наши любимые руководители Роман и Вячеслав смогли получить 1 миллион рублей, которые они могут потратить на свои нужды."><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'app/assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>Акция "Нет террору и день противодействия терроризму"</p>
                <div class="portfolio-links">
                  <a href="{% static 'app/assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Мы поучаствовали в Акции 'Нет террору', нами был снят видеоролик в котором сотрудники МВД рассказали о самой акции и почему это так важно для всех нас."><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'app/assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>"Посещение школ Севастополя"</p>
                <div class="portfolio-links">
                  <a href="{% static 'app/assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="На протяжение целого года мы посетили множество школ. Школьники услышали лекции на такие темы, как: 'Что такое персональные данные и как их защитить', 'Фишинг', 'Буллинг', 'Фейки', 'Вербовка в сети Интернет'. "><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

                
    </section><!-- End Portfolio Section -->


   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Руководители</h2>
          <p>Команда наших руководителей состоит из прекрасных людей, которая готова выполнять различные задачи и следить за безопасностью в интернете.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img src="{% static 'app/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Сафонов Роман</h4>
                <span>Руководитель волонтерского движения</span>
				<p>Роман является нашим "проводником в свет", отвечает за коммуникацию с МВД и другими государственными структурами, так же и школами, где мы читаем лекции, без него мы бы остались никому не известными "серыми мышами"</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'app/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
	
              </div>
              <div class="member-info">
                <h4>Стасюк Вячеслав</h4>
                <span>Заместитель руководителя</span>
				<p>Вячеслав владеет прекрасными лидерскими качествами, отвечает за коммуникацию внутри состава, в нужную минуту поможет в любом вопросе, наставит на верный путь и конечно же поможет в каком-либо проекте, либо конкурсе</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'app/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Ткаченко Давид</h4>
                <span>Руководитель пресс-центра</span>
				<p>Давид является нашей "музой искусства", он знает как нужно преподнести информацию обществу, красиво оформить текст и обработать фотографии. Следит за регулярной публикацией постов в нашей группе ВК по интересной и актуальной информации</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    
    <!-- ======= Вопросы ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
			<h2>Часто задаваемые вопросы</h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
			  <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Как часто у вас получается разоблачить мошенническую схему в интернете?
			  	<i class="bx bx-chevron-down icon-show"></i>
			  	<i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
				  С мошенничеством в интернете мы сталкиваемся регулярно, всю информацию мы тщательно проверяем и передаем в правоохранительные органы для выяснения обстоятельств.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
			  <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Сколько лет вашей организации?
			  	<i class="bx bx-chevron-down icon-show"></i>
			  	<i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
				  13 Марта нашей Волонтёрской Организации исполнился ровно год.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
			  <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Как вы успеваете учиться и заниматься своей деятельностью?
			  	<i class="bx bx-chevron-down icon-show"></i>
			  	<i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
				  Для нас главное ответственный поход к делу, если правильно распределять обязанности и качественно их выполнять, то успеть можно что угодно!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
			  <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Расскажите про форум ЯвСети
			  	<i class="bx bx-chevron-down icon-show"></i>
			  	<i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
				  Совсем не давно мы выиграли грант на проведение Форума "ЯвСети", который пройдет в октябре для учащихся 9-11 классов. На форуме будут подробно рассмотрены вопросы Мошенничества, Вербовки в экстремистские группировки , а так же как можно отличить Фейк от достоверной информации!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
			  <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Почему вы начали заниматься КиберВолонтерстовом?
			  	<i class="bx bx-chevron-down icon-show"></i>
			  	<i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
				  У каждого участника нашего движения своя мотивация, однако мы все сошлись в одном - интернет уже давно перестал был безопасным местом, по этому ему нужны свои КиберАгенты!
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Контакты</h2>
          <p>Если вы заинтерисовались нашей волонтерской организацией, то вы можете оставить сообщение и мы обязательно свяжемся с вами</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
				<h4>Месторасположение:</h4>
				<p>Ул.университетская 33,<br>г.Севастополь</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
				<h4>Адрес электронной почты:</h4>
                <p>cyberagentib@mail.ru</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
				<p>+7 (978) 715-53-46</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
					<input type="email" class="form-control" name="email" id="email" placeholder="Адрес электронной почты" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Текст" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение отправлено, спасибо большое!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить сообщение</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="{% static 'app/assets/img/hero-logo.png' %}" alt=""></a>
            <h3>КиберАгенты ИБ</h3>
            <p>Оставьте свой адрес электронной почты для получения полезной информации о безопасности в интернете.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
				<input type="email" name="email" placeholder="Введите ваш адрес электронной почты"><input type="submit" value="Подписаться">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>КиберАгенты ИБ</span></strong>. Все права защищены.

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'app/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'app/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'app/assets/js/main.js' %}"></script>

</body>

</html>